
a.act {
    color: #c1e1ff;
    font-size: 18px;
}
a {
    color: #010101;
    text-decoration: none;
    background-color: transparent;
}
.form-control[readonly]{
	background-color: #ffffff;
}

.form-control{
	border-radius: 0px;
	min-height: 50px;
}
.form-control:focus{
	border: 1px solid #d65106;
	box-shadow: none;
}
